#ext-gen7,
.x-panel,
#ext-gen6,
#ext-gen9,
#ext-gen12,
#ext-gen22 {
	border-style: none;
	background-color: transparent;
}

#ext-gen25,
.x-table-layout,
#ext-gen40,
#ext-gen36,
.x-form-item {
	background-color: rgba(0, 0, 0, 0.0);
	color: white;
}

#ext-gen10 {
	font-size: 0px;
}

.x-btn-text {
	background-color: rgba(232, 118, 30, 1);
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	font-weight: bold;
	transition: .5s;
	z-index: 50000;
	border: none;
	font-style: normal;
	font-weight: normal;
	height: 42px;
	width: 90px;
	transform: all .5s;
}

.x-btn-text:hover {
	background-color: rgb(239, 149, 79);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .6);
}

.x-btn-text:focus {
	background-color: #2E3C6E;
	box-shadow: 0 5px 8px rgba(0, 0, 0, .6);
}

#login {
	position: absolute;
	left: 50%;
	margin-left: -150px;
}

#ext-gen12,
#ext-gen22,
#ext-gen30,
#ext-gen32,
td,
th {
	padding: 0px;
}

#x-form-el-ext-comp-1005,
#x-form-el-ext-comp-1006 {
	padding: 0px !important;
}

input[type=text],
input[type=password],
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
	color: black;
	background-color: white;
	padding: 0px;
	border: 1px solid #2E3C6E;
	height: 1.5em;
	font-size: 1.2em;
	box-shadow: none;
	width: 180px !important;
	border-radius: 2px;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
	border: 1px solid rgba(232, 118, 30, 1);
	transition: all 1s;
}

label {
	color: black;
}

body {
	background-color: #eeeeee;
}

div {
	outline: none !important;
}

[type="checkbox"] + label:before {
	border: 1px solid #2E3C6E;
	background-color: white;
}

[type="checkbox"]:checked + label:before {
	border-bottom: 2px solid rgba(232, 118, 30, 1);
	border-right: 2px solid rgba(232, 118, 30, 1);
	background-color: #eeeeee;
}

h4 {
	margin-bottom: 0px;
}

div.container.footer-copyright {
	font-size: 0.3em;
}

iframe.plataforma {
	position: relative;
	left: -70px;
}