<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{datos.titulo}} | Plataforma Móvil.</title>
	<meta name="description" content="{{datos.descripcion}}">
	{{>head}}

	<!-- CSS  -->
	<link href="css/plataforma.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="css/print.css" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
	{{>analytics}}
	{{>navegacion-movil}}
	{{!contenido principal}}
	
	<main>
		<div class="container center">
			<h1 class="indigo-text">GPS tracker, Plataforma para móvil</h1>
			<h1 class="indigo-text">Seleccione su plataforma</h1>
			<br>
			<div class="row">
				<div class="col s12 m6 l6 center"> <a href="http://a.gpstrackerls.com/mt/" class=" plat-link btn-large orange waves-effect">PLATAFORMA A</a></div>
				<div class="col s12 m6 l6 center"> <a href="http://b.gpstrackerls.com/mt/" class="plat-link btn-large orange waves-effect">PLATAFORMA B</a></div>
			</div>
			<br>
		</div>
	</main>

	{{>footer-plataforma}}
	<script src="/js/plataforma.js"></script>
	{{>microdatos}}
	{{>service-worker}}
	<script>
		//conection links checks
		$('.plat-link').click(function (event) {
			var href = this.href;
			event.preventDefault();
			if (navigator.onLine) {
				window.location = href;
			}else{
				Materialize.toast('Portal no disponible sin conexion',4000);
			}
		});
	</script>
</body>
</html>