---
##########
#Titulo de la pagina
##########
titulo: Sistemas de rastreo satelital para vehículos. Control, Rastreo y Seguridad.
descripcion: Sistema de Localización Satelital para vehiculos que le permite obtener todos los reportes de Control, Rastreo y Ubicación sin pagar Mensualidad.

##########
hero:
 titulo: "Error #404"
 subtitulo: "Parece que esta pagina no ha podido ser encontrada"
 btn: "volver al inicio"
 accion: "/"
 imagen: "/images/404.jpg"


---
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{{data.titulo}} | {{front.titulo}} </title>
	<meta name="description" content="{{front.descripcion}}">
	{{>head}}
	<!-- CSS  -->
	<link href="/css/min.css" type="text/css" rel="stylesheet" media="screen" />
  <link href="/css/print.css" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
	{{>analytics}}
	{{>navegacion-landing info=front.hero}}
	<main>
    {{>sections/4clients}}
	  {{>sections/nosotros}}

	</main>
	{{>footer}}

	<script src="/js/min.js"></script>
	<script>

	 </script>
	{{>microdatos}}
</body>
</html>
