<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{datos.titulo}} | Comercialización de sistemas de rastreo satelital para vehículos. Control, Rastreo y Seguridad.</title>
	<meta name="description" content="{{datos.descripcion}}">
	{{>head}}

	<!-- CSS  -->
	<link href="css/min.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="css/print.css" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
	{{>analytics}}
	{{>navegacion-portal}}
	{{!contenido principal}}

	<div class="gradient center hide-on-small-only">
		<div class="row">
		</div>
	</div>
	<main>

		<div class="up2">
			<div class="container ">
				<div class="row">
					<div class="col s12 m12 l12 center">
						<h1 class="indigo-text">Acerca de nosotros</h1></div>
				</div>
				<div class="row">
					<div class="col s12 m12 l3 center">
						<img src="/images/12-anios-de-experiencia.png" alt="Años de experienci" class="responsive-img" style="max-height: 250px; margin-top:20px;">

					</div>
					<div class="col s12 m12 l9">
						<p><span class="indigo-text ">ANGULOS Y CIA SAS</span> Es una empresa con <span class="indigo-text ">12</span> años de experiencia en el sector industrial donde se han desarrollado proyectos de control eléctrico y automatización. En el 2008 inicia con un nuevo proyecto para implementar y comercializar sistemas de rastreo satelital con el fin de brindar a nuestros clientes una alternativa que pudiesen administrar sin necesidad de pagar mensualidades por concepto de monitoreo; Es así como hemos venido trabajando bajo la marca GPS TRACKER Localizador Satelital, como herramienta de gestión logística de vehículos, personas, mercancías y/o activos en general; a través de la cual nuestros usuarios administran y controlan sus activos pudiendo obtener un aumento en la productividad y efectividad de los procesos organizacionales.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="indigo lighten-5">
			<div class="section">
				<div class="container center">
					<h3 class="indigo-text">Nuestros diferenciadores</h3>
					<div class="row center">
						<div class="col s12 m6 l4"><img class="responsive-img circle" src="/images/calidad.png" alt="calidad">
							<h5 class="indigo-text">Calidad</h5>
							<p></p>
						</div>
						<div class="col s12 m6 l4"><img class="responsive-img circle" src="/images/precio.png" alt="precio">
							<h5 class="indigo-text">Precios</h5>
							<p></p>
						</div>
						<div class="col s12 m6 l4 center offset-m3"><img class="responsive-img circle" src="/images/seguridad.png" alt="seguridad">
							<h5 class="indigo-text">Seguridad</h5>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	{{>footer}}
	<script src="/js/min.js"></script>
	{{>microdatos}}
</body>
</html>
