---
##########
#Titulo de la pagina
##########
titulo: Sistemas de rastreo satelital para vehículos. Control, Rastreo y Seguridad.
descripcion: Sistema de Localización Satelital para vehiculos que le permite obtener todos los reportes de Control, Rastreo y Ubicación sin pagar Mensualidad.

##########
#Ventajas principales
##########
ventajas:
 - titulo: Ahorro
   descripcion: Reducción de costos inherentes a la operatividad y administración de la plataforma, manteniendo la calidad del servicio sin pagar mensualidad por concepto de monitoreo y/o contrataciones sujetas a vencimientos.
   img: /images/iconos/reduccion-costes.png
 - titulo: Seguridad
   descripcion: Tener el Control, Rastreo y Seguridad de sus activos las 24 horas de los 365 días del año de forma autónoma.
   img: /images/iconos/seguridad.png 
 - titulo: Accesibilidad
   descripcion: Suministramos a nuestros clientes Dos claves de acceso al portal Web. (Administrador y Terceros).
   img: /images/iconos/acceso.png
 - titulo: Respaldo 
   descripcion: Contamos con una plataforma de respaldo en caso de fallas técnicas que impidan el acceso a la plataforma principal. www.gpsrespaldo.com.
   img: /images/iconos/candado.png
 - titulo: Servicio 
   descripcion: Servicio personalizado de Acompañamiento posventa durante el tiempo vinculado a nuestra empresa.
   img: /images/iconos/reduccion-costes.png
 - titulo: Capacitación
   descripcion: Capacitaciones permanentes; personalizadas o virtuales sobre el manejo de la plataforma cada vez que el cliente lo solicite.
   img: /images/iconos/capacitacion.png

##########
#Ventajas Secundarias
##########
ventajas2:
 - titulo: Botón de Emergencia (S.O.S)
   descripcion: Al accionar este botón se enviará una alarma visual y sonora al portal informando que se encuentra en peligro y enviará un SMS a dos teléfono celulares autorizados. 
   img: /images/iconos/sos.png
 - titulo: Alarma de Sobre velocidad
   descripcion:  En caso que un dispositivo exceda el límite de velocidad establecido enviará una alarma visual y sonora al portal informando el evento, velocidad, fecha y hora en tiempo real. 
   img: /images/iconos/velocidad.png
 - titulo: Función Manos Libres
   descripcion:  El conductor podrá recibir llamadas de 2 teléfonos autorizados o se podrá monitorear conversaciones dentro de la cabina del vehículo sin ser detectado. 
   img: /images/iconos/manos-libres.png
 - titulo: Apagado remoto del vehículo
   descripcion: Con solo ejecutar un comando en la lista se podrá detener la marcha del vehículo. (Aplica especificaciones técnicas)
   img: /images/iconos/stop.png
 - titulo: Alarma de Encendido/Apagado
   descripcion:  Cada vez que el vehículo es encendido o apagado enviará una alarma al portal para ser consultado en el momento que requiera. 
   img: /images/iconos/alarma.png
 - titulo: Restricciones de área o Geocercas
   descripcion: Permite conocer cuando el dispositivo ingresa o cruza por un lugar programado; se puede crear hasta 8 puntos de control por unidad.
   img: /images/iconos/geocerca.png
 - titulo: Puntos de interés (PDI)
   descripcion:  Mediante esta opción se podrá identificar sitios de interés dentro del mapa para posteriormente utilizarlos como referente.
   img: /images/iconos/mapa.png
##########
#Mini banners
##########
banner1:
    texto: ¿Listo para conocer nuestros precios?
    boton: Pide una Cotización.
    accion: 

banner2:
    texto: "Ya que conoces a nuestros clientes:"
    boton: Llámanos! 
    accion:


---
<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{data.titulo}} | {{front.titulo}} </title>
	<meta name="description" content="{{front.descripcion}}">
	{{>head}}
	<!-- CSS  -->
	<link href="css/min.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="css/print.css" type="text/css" rel="stylesheet" media="print" />
</head> 
<body>
	{{>analytics}}
	{{>navegacion}}
	{{!contenido principal}}
	{{>slider}} 
	<main>
		{{>sections/4clients}}
		{{>sections/6ventajas info=front.ventajas}}
		{{>sections/mini-banner-boton info=front.banner1}}
	    {{>sections/imagen}}
	    {{>sections/otrasVentajas info=front.ventajas2}}
	    {{>sections/mini-banner-boton info=front.banner2}}
	    {{>sections/nosotros}}

	</main>
	{{>footer}}
	
	<script src="/js/min.js"></script>
	<script>
	 
	 </script>
	{{>microdatos}}
</body>
</html>