---
##########
#Titulo de la pagina
##########
titulo: Sistemas de rastreo satelital para vehículos. Control, Rastreo y Seguridad.
descripcion: Sistema de Localización Satelital para vehiculos que le permite obtener todos los reportes de Control, Rastreo y Ubicación sin pagar Mensualidad.

##########
#Ventajas principales
##########
ventajas:
 - titulo: Ahorro
   descripcion: Somos el unico servicio sin pagar mensualidad por concepto de monitoreo.
   img: /images/iconos/reduccion-costes.jpg
 - titulo: Seguridad
   descripcion: Ten el control, rastreo y seguridad de tus activos de forma autónoma
   img: /images/iconos/seguridad.jpg
 - titulo: Accesibilidad
   descripcion: Suministramos a nuestros clientes dos claves de acceso al portal, (Administrador y terceros)

   img: /images/iconos/acceso.jpg
 - titulo: Respaldo
   descripcion: Cuenta con una plataforma de respaldo para no perder ni un minuto el control
   img: /images/iconos/candado.svg
 - titulo: Servicio
   descripcion: Servicio personalizado de Acompañamiento postventa durante el tiempo vinculado a nuestra empresa.
   img: /images/iconos/servicio.svg
 - titulo: Capacitación
   descripcion: Capacitaciones permanentes; personalizadas o virtuales sobre el manejo de la plataforma cada vez que el cliente lo solicite.
   img: /images/iconos/capacitacion.svg

##########
#Ventajas Secundarias
##########
ventajas2Titulo: "Funcionalidades de GPS tracker"
ventajas2:
 - titulo: Botón de Emergencia (S.O.S)
   descripcion: Al accionar este botón se enviará una alarma visual y sonora al portal informando que se encuentra en peligro y enviará un SMS a dos teléfono celulares autorizados.
   img: /images/iconos/sos.svg
 - titulo: Alarma de Exceso velocidad
   descripcion:  En caso que un dispositivo exceda el límite de velocidad establecido enviará una alarma visual y sonora al portal informando el evento, velocidad, fecha y hora en tiempo real.
   img: /images/iconos/velocidad.svg
# - titulo: Función Manos Libres
#  descripcion:  El conductor podrá recibir llamadas de 2 teléfonos autorizados o se podrá monitorear conversaciones dentro de la cabina del vehículo sin ser detectado.
#  img: /images/iconos/manos-libres.svg
 # - titulo: Apagado remoto del motor
 #   descripcion: Con solo ejecutar un comando en la lista se podrá detener la marcha del vehículo. (Aplica especificaciones técnicas)
 #   img: /images/iconos/stop.svg
 - titulo: Alarma de Encendido/ Apagado
   descripcion:  Cada vez que el vehículo es encendido o apagado enviará una alarma al portal para ser consultado en el momento que requiera.
   img: /images/iconos/alarma.svg
 - titulo: Restricciones de área o Geocercas
   descripcion: Permite conocer cuando el dispositivo ingresa o cruza por un lugar programado; se puede crear hasta 8 puntos de control por unidad.
   img: /images/iconos/geocerca.svg
 - titulo: Puntos de interés (PDI)
   descripcion:  Mediante esta opción se podrá identificar sitios de interés dentro del mapa para posteriormente utilizarlos como referente.
   img: /images/iconos/mapa.svg
 - titulo: Reporte de ubicación cada 5 minutos
   img: /images/iconos/reporte-5-min.svg
 - titulo: Antena de corte GPS
   img: /images/iconos/alarma-antena.svg
 - titulo: Bateria interna baja
   img: /images/iconos/bateria.svg
 - titulo: Alarma de corte de corriente
   img: /images/iconos/alarma-corriente.svg
 - titulo: Memoria de 8Mb #TODO: es una buena descripcion?
   img: /images/iconos/8mb.svg
 - titulo: Capacitación permanente
   img: /images/iconos/presentacion.svg
 - titulo: Protección contra agua y polvo
   img: /images/iconos/paraguas.svg
##########
#Servicios opcionales
##########
opcionalesTitulo: "Servicios opcionales"
opcionales:
 - titulo: Apagado remoto del motor
   img: /images/iconos/stop.svg
 - titulo: llamada a Cabina
   img: /images/iconos/headphones.svg
 - titulo: Alarma puerta abierta
   img: /images/iconos/cargo.svg
 - titulo: Alarma de activación de planchon
   img: /images/iconos/grua.svg
 - titulo: Alertas vía e-mail
   img: /images/iconos/alertas-email.svg
 - titulo: Alertas vía Mensaje de texto
   img: /images/iconos/email.svg
 - titulo: Sensor de temperatura
   img: /images/iconos/temperatura.svg
 - titulo: Alarma de activación de brazo
   img: /images/iconos/brazo.svg
 - titulo: Plaqueta maquinaria amarilla
   img: /images/iconos/seguro.svg
 - titulo: Apagado remoto de moto
   img: /images/iconos/moto.svg
 - titulo: Control remoto
   img: /images/iconos/control.svg
 - titulo: Zumbador
   img: /images/iconos/zumbador.svg

##########
#Mini banners
##########
banner1:
    texto: Instalamos equipos los 7 días de la semana
    boton: Pide una Cotización.
    accion: "#modal-inscripcion"
    class: "modal-trigger"

banner2:
    texto: "Ya que conoces a nuestros clientes:"
    boton: Llámanos!
    accion: "#modal-inscripcion"
    class: "modal-trigger"


---
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{{data.titulo}} | {{front.titulo}} </title>
	<meta name="description" content="{{front.descripcion}}">
	{{>head}}
	<!-- CSS  -->
	<link href="css/min.css" type="text/css" rel="stylesheet" media="screen" />
  <link href="css/print.css" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
	{{>analytics}}
	{{>navegacion}}
	{{>slider}}
	<main>
    {{>sections/4clients}}
		{{>sections/integraciones}}
		{{>sections/6ventajas info=front.ventajas}}
		{{>sections/mini-banner-reloj info=front.banner1}}
	  {{!>sections/imagen}}
	  {{>sections/otrasVentajas info=front.ventajas2 title=front.ventajas2Titulo}}
    <div class="indigo  lighten-5">
      <div id="mas-servicios" style="display: none;">
        {{>sections/otrasVentajas info=front.opcionales title=front.opcionalesTitulo}}
      </div>
        <div class="center-align">
          <a id="mas-servicios-btn"class="orange btn-large">Ver  opcionales</a>
        </div>
        <br>
    </div>
	  {{>sections/mini-banner-boton info=front.banner2}}
	  {{>sections/nosotros}}
    {{>sections/modal-inscripcion}}
	</main>
	{{>footer}}

	<script src="/js/min.js"></script>
	<script>

	 </script>
	{{>microdatos}}
</body>
</html>
