---
titulo: Información de contacto
descripcion: Información de contacto de GPS tracker, rastreador Satelital
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title> {{front.titulo}} | {{data.titulo}} </title>
	<meta name="description" content="{{front.descripcion}}">
	{{>head}}
	<!-- CSS  -->
	<link href="css/min.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="css/print.css" type="text/css" rel="stylesheet" media="print" />
</head>

<body>
	{{>analytics}}
	{{>navegacion-portal}}
	{{!contenido principal}}
	<h1>Política de privacidad</h1>
	<section class="content">
		<div id="landingPage" class="policysection">
			<div id="landingPageDescrip">

				Esta declaración de privacidad describe cómo Gps Tracker recopila y usa la información que usted
				proporciona.

				&nbsp;

			</div>
			<h3 id="desktopNav">Servicios de localización</h3>
		</div>
		<div id="location" class="policysection">
			<div class="policysectionInner">
				<div class="policysectionContent">

					Cuando utiliza el software o la aplicación móvil, podemos usar la tecnología GPS (u otra tecnología
					similar) para determinar su ubicación actual a fin de brindar esta información a los usuarios que ha
					autorizado para eso y brindarles servicios relevantes. No compartiremos sus datos de ubicación con
					otros usuarios o socios. Sin embargo, podemos usarlo para el análisis estadístico y compartir esos
					datos agregados no personales con otras partes.

					Si no desea que usemos su ubicación para los fines establecidos anteriormente, debe apagar el
					dispositivo de seguimiento GPS o desactivar los servicios de ubicación para la aplicación móvil
					ubicada en la configuración de su cuenta o en la configuración de su teléfono móvil y / o dentro de
					la aplicación móvil.

					&nbsp;
					<h3>Colección y uso</h3>
				</div>
			</div>
		</div>
		<div id="collection" class="policysection">
			<div class="policysectionInner">
				<div class="policysectionContent">

					En general, los datos personales que nos envía se utilizan para responder a solicitudes que realiza
					o para ayudarnos a brindarle un mejor servicio. Gps Tracker usa sus Datos personales de las siguientes
					maneras: para facilitar la creación de su cuenta y protegerla en nuestra red; lo identifica como un
					usuario en nuestro sistema; proporcionar una mejor administración de nuestro sitio web, productos y
					servicios relacionados; mejorar la calidad de la experiencia cuando interactúa con nuestro sitio
					web, productos y servicios relacionados; enviarle un correo electrónico de bienvenida para verificar
					la propiedad de la dirección de correo electrónico proporcionada cuando se creó su cuenta; enviarle
					notificaciones administrativas por correo electrónico, tales como avisos de seguridad o soporte y
					mantenimiento; responder a sus preguntas relacionadas con oportunidades de empleo u otras
					solicitudes; enviar comunicaciones promocionales; proporcionarle copias impresas o boletines
					electrónicos, o encuestas; enviar actualizaciones y ofertas especiales relacionadas con nuestros
					Productos y servicios relacionados y para otros fines de mercadotecnia de Gps Tracker, en caso de que
					solicite recibir dichas comunicaciones de nosotros; hacer llamadas telefónicas a usted, de vez en
					cuando, como parte de la protección secundaria contra el fraude o para solicitar su opinión.

					&nbsp;

				</div>
			</div>
		</div>
		<div id="sharing" class="policysection">
			<div class="policysectionInner">
				<h3 class="policysectionTitle">Compartiendo su información</h3>
				<div class="policysectionContent">

					Podemos compartir sus Datos personales con terceros para proporcionar asistencia técnica o para
					proporcionar servicios específicos, como el alojamiento de sus aplicaciones, la comunicación con
					usted a través del software de chat en vivo o el procesamiento de pagos para compras.

					Independientemente de las elecciones que realice con respecto a sus Datos personales (como se
					describe a continuación), Gps Tracker puede divulgar los Datos personales si cree de buena fe que dicha
					divulgación es necesaria para (a) cumplir con las leyes pertinentes o responder a citaciones o
					warrants presentados en Gps Tracker; o (b) proteger o defender los derechos o la propiedad de Gps Tracker
					o los usuarios de los Productos o servicios relacionados.

					&nbsp;

				</div>
			</div>
		</div>
		<div id="tracking" class="policysection">
			<div class="policysectionInner">
				<h3 class="policysectionTitle">Seguimiento y anuncios</h3>
				<div class="policysectionContent">

					Para que nuestro sitio web, productos y servicios relacionados le resulten más útiles, nuestros
					servidores (que pueden ser alojados por un proveedor de servicios externo) recopilan sus datos
					personales, como tipo de navegador, sistema operativo, dirección de protocolo de Internet (IP). (un
					número que se asigna automáticamente a su computadora cuando usa Internet, que puede variar de una
					sesión a otra), nombre de dominio y / o una marca de fecha / hora para su visita. También podemos
					usar Cookies (como se define a continuación) y datos de navegación como Localizadores Uniformes de
					Recursos (URL) para recopilar información sobre la fecha y hora de su visita y las soluciones y la
					información que buscó y que vio. Al igual que la mayoría de los servicios de Internet, recopilamos
					estos datos personales automáticamente y los almacenamos en archivos de registro cada vez que visita
					nuestro sitio web o accede a su cuenta en nuestra red.

					&nbsp;

				</div>
			</div>
		</div>
		<div id="security" class="policysection">
			<div class="policysectionInner">
				<h3 class="policysectionTitle">Seguridad</h3>
				<div class="policysectionContent">

					Gps Tracker se compromete a proteger la seguridad de sus datos de aplicaciones y sus datos personales.
					Usamos una variedad de tecnologías y procedimientos de seguridad estándar de la industria para
					ayudar a proteger sus datos de aplicaciones y sus datos personales frente al acceso, uso o
					divulgación no autorizados. Cuando ingresa información sensible (como un número de tarjeta de
					crédito), codificamos la transmisión de esa información mediante la tecnología de capa de conexión
					segura (SSL). También le pedimos que ingrese una contraseña para acceder a la información de su
					cuenta. Por favor, no revele la contraseña de su cuenta a personas no autorizadas. A pesar de estas
					medidas, debe saber que Gps Tracker no puede eliminar por completo los riesgos de seguridad asociados
					con los datos de la aplicación y los datos personales.

				</div>
			</div>
		</div>
	</section>

	{{>footer}}
	<script src="/js/min.js"></script>
	{{>microdatos}}
</body>

</html>