<footer class="page-footer indigo up2">
		<div class="container">
			<div class="row no-mar">
				<h4 class="white-text">
					¿Necesitas más información?
				</h4>
				<p class="white-text">Rellena el siguiente formulario para conocer más sobre los planes de GPS tracker</p>
			</div>

			<form action="formulario google"></form>
			<div class="row">
				<div class="input-field white-input col s12">
					<input  id="name" type="text" class="validate">
					<label for="name">Nombre</label>
				</div>
				<div class="input-field white-input col s12">
					<input  id="phone" type="text" class="validate">
					<label for="phone">Teléfono (opcional)</label>
				</div>
				<div class="input-field white-input col s12">
					<input  id="mail" type="text" class="validate">
					<label for="mail">E-mail</label>
				</div>
				<div class="center">
					<input type="submit" value="Enviar" class="btn orange">
				</div>

				<input  id="product" type="hidden" class="validate" value="{{front.client}}">
			</div>

			<div class="row no-mar valign-wrapper">
				<div class="col s12 m3">
					<img src="/images/logo.svg" class="responsive-img">
				</div>
				<div class="col s12 m7 ">
					<p class="white-text center-m-l">Más de 12 años mejorando la seguridad de tus vehículos</p>
					<br>
				</div>
			</div>
		</div>
		<br>

	</footer>
