<footer class="page-footer indigo up2">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">GPS <span class="orange-text text-lighten-2"> tracker</span></h5>
					<p class="white-text">Estamos dedicados a la comercialización de sistemas de rastreo satelital para vehículos, maquinarias y equipos de trabajo por mas de 12 años, donde hemos logrando posicionar nuestros productos en varias empresas importantes del sector petrolero y transportador en Colombia. </p>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Redes</h5>
					<div class="hide-on-large-only">
						<div class="container center-align">
							<a href="https://www.facebook.com/GPS-TRACKER-LOCALIZADOR-SATELITAL-202521699777843" class="btn-large  orange">Facebook</a>
							<a href="https://plus.google.com/113843641102652527025" class="btn-large orange" rel="publisher">Google+</a>
							<a href="https://co.linkedin.com/in/gps-tracker-localizador-satelital-81b11a69" class="btn-large orange">Linkedin</a>
							<a href="skype://gpstrackerls?chat" class="btn-large orange">Skype</a>
						</div>
						<h5 class="white-text">Correo</h5>
						<div class="container center-align">
							<p><a class="white-text mobile-link" href="mailto:ventas@gpstrackerls.com">ventas@gpstrackerls.com</a></p>
							<p><a class="white-text mobile-link" href="mailto:gpstrackerls@gmail.com">gpstrackerls@gmail.com</a></p>
						</div>

						<h5 class="white-text">Teléfonos</h5>
						<div class="center">
							<p><a class="white-text mobile-link" href="tel:+573202537257">Celular: 320 253 7257</a></p>
							<p><a class="white-text mobile-link" href="tel:+5776820983">Fijo: 682 0983</a></p>
						</div>
					</div>

					<address class="hide-on-med-and-down">
					<ul>
						<li><a class="white-text" href="https://www.facebook.com/GPS-TRACKER-LOCALIZADOR-SATELITAL-202521699777843" target="_blank">Facebook</a></li>
						<li><a class="white-text" href="https://www.linkedin.com/in/gps-tracker-localizador-satelital-81b11a69" target="_blank">LinkedIn</a></li>
						<li><a class="white-text" href="skype://gpstrackerls?chat" target="_blank">Skype</a></li>
						<li class="indigo-text">.</li>
						<li><a class="white-text" href="mailto:ventas@gpstrackerls.com">ventas@gpstrackerls.com</a></li>
            			<li><a class="white-text" href="mailto:gpstrackerls@gmail.com">gpstrackerls@gmail.com</a></li>
            			<li class="indigo-text">.</li>
           				<li><span class="white-text">Floridablanca | Santander | Colombia.</span></li>
					</ul>
					</address>
				</div>
				<div class="col l3 s12 hide-on-med-and-down">
					<h5 class="white-text">Teléfonos.</h5>
					<ul class="">
						<li><a class="white-text" href="tel:+573202537257">Claro: 320 253 7257</a></li>
						<li><a class="white-text" href="tel:+573212639189">Claro2: 321 263 9189</a></li>
						<li class="indigo-text">.</li>
						<li><a class="white-text" href="tel:+5776820983">Fijo: 682 0983</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright indigo darken-5">
			<div class="container">
					Realizado por: <a class="orange-text text-lighten-2" href="http://www.fabiangutierrez.co" target="_blank">Fabian Gutierrez A.</a>, ©: Angulos.cia, todos los derechos reservados.
			</div>
		</div>
	</footer>
