<header>
  <!-- Dropdown de plataformas -->
  <ul id="dropdown1" class="dropdown-content black-text">
    <li><a href="/plataforma-a.html"><span class="indigo-text">Portal</span> <object height="20" class="right nav-icon"
          type="image/svg+xml" data="/images/a.svg">A</object></a></li>
    <li><a href="/plataforma-b.html"><span class="orange-text">Portal</span> <object height="20" class="right nav-icon"
          type="image/svg+xml" data="/images/b.svg">B</object></a></li>
  </ul>
  <!-- Dropdown para soluciones -->
  <ul id="dropdown-soluciones" class="dropdown-content black-text">
    <li><a href="/productos/maquinaria.html">Maquinaria</a></li>
    <li><a href="/productos/auto.html">Auto</a></li>
    <li><a href="/productos/carga.html">Carga</a></li>
    <li><a href="/productos/personal.html">Personas</a></li>
    <li><a href="/productos/moto.html">Moto</a></li>
  </ul>
  <!-- NAV BAR-->
  <nav class="white fix" style="z-index:100">
    <div class="nav-wrapper " data-spy="affix" data-offset-top="100">
      <a id="logo-container" href="/index.html" class="brand-logo"><object  type="image/svg+xml" data="/images/logo.svg" height="50"><img height=59 src="images/logo-grande.png" alt="GPS tracker Logo" ></object></a>
      <ul class="right hide-on-med-and-down">
        {{#if front.inicio}}<li><a href="/index.html">Inicio</a></li>{{/if}}
        <li><a class="dropdown-button" data-activates="dropdown-soluciones">Soluciones</a></li>
        <li><a id="contact-btn" href="/contacto.html">Contáctanos</a></li>
        <li><a  href="http://www.trackingarea.com/">Portal GT</a></li>
        <li><a href="http://c.gpstrackerls.com">Portal Plus</a></li>
				<li><a id="plat-btn" href="http://mapas.gpstrackerls.com">Portal Pro4G</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="tel:+573202537257"><i class="phone-icon"><img src="/images/phone.svg" alt=""></i>320 253 7257</a></li>
      </ul>
      {{!--Side-Nav--}}
      <a data-activates="nav-mobile" class="button-collapse"><img id="menu-img" src="/images/menu.png" alt="menu"></a>
    </div>
  </nav>
  <div class="caption cover center hide-on-small-only" style="background-image: linear-gradient(to bottom, rgba(18,42, 66, .1), rgba(18,42, 66, .9)), url(/images/gps-fondo.jpg)">
    <h1 class="white-text imp-1 bold no-mar shadow-text">Telemática orientada al servicio de</h1>
    
    <h2 class="orange-text imp-2 bold no-mar shadow-text"><span class="imp-2 indigo-text"></span>Logística, Rastreo y Control</h2>
    <h2 class="light white-text  imp-3 bold no-mar shadow-text"> en tiempo real</h2>
    <div class="container" style="    display: flex;
    justify-content: space-evenly; align-items: center; max-width: 500px; margin-top: 20px">
      <img class="integracion-img-top" src="/images/integraciones/frontera.png" alt="Integración con Frontera">
      <img class="integracion-img-top" src="/images/integraciones/controlt.png" alt="Integración con ControlT">
      <img class="integracion-img-top" src="/images/integraciones/sos-contingencias.png" alt="Integración con SOS Contingencias">
    </div>
    {{!-- <div class="container" style="    display: flex;
    justify-content: space-between; align-items: center; margin-bottom: 40px ; margin-top: 20px">
      <img class="integracion-img-top" src="/images/gps-logos/meitrack.png" alt="Integración con Frontera">
      <img class="integracion-img-top" src="/images/gps-logos/concox.png" alt="Integración con ControlT">
      <img class="integracion-img-top" src="/images/gps-logos/calamp.png" alt="Integración con SOS Contingencias">
      <img class="integracion-img-top" src="/images/gps-logos/queclink.png" alt="Integración con SOS Contingencias">
      <img class="integracion-img-top" src="/images/gps-logos/skypatrol.png" alt="Integración con SOS Contingencias">
      <img class="integracion-img-top" src="/images/gps-logos/ruptela.png" alt="Integración con SOS Contingencias">
      <img class="integracion-img-top" src="/images/gps-logos/suntech.png" alt="Integración con SOS Contingencias">
      <img class="integracion-img-top" src="/images/gps-logos/teltonika.png" alt="Integración con SOS Contingencias">
    </div> --}}
  </div>
</header>

<ul id="nav-mobile" class="side-nav">
  {{#if front.inicio}}<li><a href="/index.html">Inicio</a></li>{{/if}}
  <li><a href="/movil.html">Portal Móvil</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="grey-text">Soluciones:</a></li>
  <li><a href="/productos/maquinaria.html">Maquinaria</a></li>
  <li><a href="/productos/auto.html">Auto</a></li>
  <li><a href="/productos/carga.html">Carga</a></li>
  <li><a href="/productos/personal.html">Personal</a></li>
  <li><a href="/productos/moto.html">Moto</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a href="/contacto.html">Contáctanos</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a href="http://www.trackingarea.com/">Portal GT</a></li>
  <li><a href="http://c.gpstrackerls.com">Portal Plus</a></li>
	<li><a href="http://mapas.gpstrackerls.com">Portal Pro4G</a></li>
</ul>