<header>
  <!-- Dropdown de plataformas -->
  <ul id="dropdown1" class="dropdown-content black-text">
    <li><a href="/plataforma-a.html"><span class="indigo-text">Portal</span> <object height="20" class="right nav-icon"
          type="image/svg+xml" data="/images/a.svg">A</object></a></li>
    <li><a href="/plataforma-b.html"><span class="orange-text">Portal</span> <object height="20" class="right nav-icon"
          type="image/svg+xml" data="/images/b.svg">B</object></a></li>
  </ul>
  <!-- Dropdown para soluciones -->
  <ul id="dropdown-soluciones" class="dropdown-content black-text">
    <li><a href="/productos/maquinaria.html">Maquinaria</a></li>
    <li><a href="/productos/auto.html">Auto</a></li>
    <li><a href="/productos/carga.html">Carga</a></li>
    <li><a href="/productos/personal.html">Personas</a></li>
    <li><a href="/productos/moto.html">Moto</a></li>
  </ul>
  <!-- NAV BAR-->
  <nav class="white fix" style="z-index:100">
    <div class="nav-wrapper " data-spy="affix" data-offset-top="100">
      <a id="logo-container" href="./index.html" class="brand-logo"><object type="image/svg+xml" data="/images/logo.svg"
          height="50"><img height=59 src="images/logo-grande.png" alt="GPS tracker Logo"></object></a>
      <ul class="right hide-on-med-and-down">
        {{#if front.inicio}}<li><a href="/index.html">Inicio</a></li>{{/if}}
        <li><a class="dropdown-button" data-activates="dropdown-soluciones">Soluciones</a></li>
        <li><a id="contact-btn" href="/contacto.html">Contáctanos</a></li>
        <li><a id="plat-btn" href="/plataforma-a.html">Portal</a></li>
        <li><a href="http://c.gpstrackerls.com">Nuevo Portal</a></li>

      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="tel:+573202537257"><i class="phone-icon"><img src="/images/phone.svg" alt=""></i>320 253 7257</a></li>
      </ul>
      {{!--Side-Nav--}}
      <a data-activates="nav-mobile" class="button-collapse"><img id="menu-img" src="/images/menu.png" alt="menu"></a>
    </div>
  </nav>
  <div class="caption cover center hide-on-small-only" style="background-image: url(/images/Foto%20fondo%201.jpg)">
    <h1 class="white-text imp-1 bold no-mar shadow-text">Rastreo Satelital GPS</h1>
    
    <h2 class="orange-text imp-2 bold no-mar shadow-text"><span class="imp-2 indigo-text"></span> Logística,  Rastreo y Control  </h2>
    <h2 class="light white-text  imp-3 bold no-mar shadow-text"> En tiempo real</h2>
  </div>
</header>

<ul id="nav-mobile" class="side-nav">
  {{#if front.inicio}}<li><a href="/index.html">Inicio</a></li>{{/if}}
  <li><a href="/movil.html">Portal Móvil</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="grey-text">Soluciones:</a></li>
  <li><a href="/productos/maquinaria.html">Maquinaria</a></li>
  <li><a href="/productos/auto.html">Auto</a></li>
  <li><a href="/productos/carga.html">Carga</a></li>
  <li><a href="/productos/personal.html">Personal</a></li>
  <li><a href="/productos/moto.html">Moto</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a href="/contacto.html">Contáctanos</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a href="/plataforma-a.html">Portal</a></li>
  <li><a href="http://c.gpstrackerls.com">Nuevo Portal</a></li>
</ul>