{{!-- <div class="slider hide-on-small-only">
		<ul class="slides">
			<li>
				<img class="responsive-img" alt="gps tracker camión" src="images/Foto%20fondo%201.jpg">
				<div>
					<div id="cap1" class="caption center center-transition ">
						<h1 class="imp-1 impacto white-text">Rastreo Satelital GPS</h1>
						<h2 class="imp-2 impacto orange-text"><span class="imp-2 indigo-text">Sin Pagar</span> Mensualidad</h2>
						<p class="imp-3 impacto light white-text "> por concepto de monitoreo</p>
					</div>
				</div>
			</li>
			{{!<li>
				<img class="responsive-img" alt="gps tracker maquinaria" src="images/Foto%20Fondo2.jpg">

				<div id="cap2" class="caption center left-transition">
					<h1 class="impacto orange-text">Ahorra el <span class="imp-2 indigo-text">100%</span> Mensual</h1>
					<h2 class="imp-3 impacto light white-text ">por concepto de monitoreo</h2>
				</div>
			</li>
			<li>
				<img class="responsive-img" alt="gps tracker camión 2" src="images/background5.png">

				<div id="cap3" class="caption  center right-transition">
					<h2 class="imp-1 impacto white-text">Control, Rastreo y Seguridad.</h2>
					<h1 class="impacto orange-text"><span class="imp-2 indigo-text">Sin Pagar</span> Mensualidad</h1>
					<h2 class="imp-3 impacto light white-text "> por concepto de monitoreo</h2>
				</div>
			</li>}}
		</ul>
	</div> --}}
	<div id="mobile-ad" class="hide-on-med-and-up ">
		<img class="hide-on-med-and-up responsive-img" src="images/pexels-photo.jpg" alt="manejando Header">
		<div id="cap4" class="caption center left-transition">
			<h2 class="imp-1 impacto white-text hide-on-med-and-up">Rastreo Satelital GPS</h2>
			<h1 class="impacto indigo-text hide-on-med-and-up"><span class="imp-2 indigo-text">Sin Pagar Mensualidad </span></h1>
			<h2 class="imp-3 impacto light white-text hide-on-med-and-up"> por concepto de monitoreo</h2>
		</div>
	</div>