	<div id="mobile-ad" class="hide-on-med-and-up ">
		<img class="hide-on-med-and-up responsive-img" src="/images/pexels-photo.jpg" alt="manejando Header">
		<div id="cap4" class="caption center left-transition">
			<h2 class="imp-1 bold white-text hide-on-med-and-up">Rastreo Satelital GPS</h2>
			<h1 class="bold indigo-text hide-on-med-and-up"><span class="imp-2 indigo-text"> Logística, Rastreo y Control </span></h1>
			<h2 class="imp-3 bold light white-text hide-on-med-and-up"> En tiempo real</h2>
		</div>
	</div>
