html {
	font-family: "Eras ITC",'Trebuchet MS';
	font-weight: 500;
}
.indigo{
	background-color:#2E3C6E !important;
}
.orange-text {
    color: #F16136 !important;
}
.orange-text.text-lighten-2 {
    color: #F79741 !important;
}
.orange {
    background-color: #F16136 !important;
}
.indigo-text {
    color: #2E3C6E !important;
}
p .bold,h1 .bold,h2 .bold,h3 .bold,h4 .bold,h5.bold,span.bold {
    font-weight: bold;
}
span.bold {
    font-weight: 500 !important;
}
.container.c85 {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container.c85 {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container.c85 {
    width: 85%;
  }
}
nav .button-collapse img{
	width: 24px;
	padding: 16px;
	box-sizing: content-box;
}
@media only screen and (min-width:601px) {
	nav .button-collapse img{
	width: 24px;
	padding: 16px;
	padding-top: 22px;
	box-sizing: content-box;
}
}

nav ul a{
	color: #444;
	font-size: 1.18em;
}
nav ul a:hover {
    background-color: #ddd;
}
p {
	line-height: 2.2rem;
	font-weight: 400;
}
.button-collapse {
	color: #26a69a;
	margin-left: 10px;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width:992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width:600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

#titleport,
valign {
	vertical-align: middle;
}

.no-pad {
	padding: 0px;
	font-size: 0px;
}

.no-mar {
	margin: 0px;
}

#plat-btn {
	color: #F16136;
	-webkit-transition: font-size .5s, background-color .5s, color 2s;
	transition: font-size .5s, background-color .5s, color 2s;
}

#plat-btn:hover {
	background-color: #F16136;
	color: black;
	font-size: 1.3em;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
	color: #F16136 !important;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
	color: inherit;
}

.card .card-image .card-title {
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.40), 0 1px 2px rgba(0, 0, 0, 0.5);
}

#contact-btn {
	color: #2B5493;
	-webkit-transition: font-size .5s, background-color .5s, color 2s;
	transition: font-size .5s, background-color .5s, color 2 s;
}

#contact-btn:hover {
	background-color: #2196f3;
	color: black;
	font-size: 1.3em;
}

.dropdown-content li > a,
.button-collapse {
	color: #2B5493;
}

#footer-fix {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 70px;
	width: 100%;
}

.slider {
	z-index: -1;
}

.black50 {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	padding: 20px;
}

.nav {
	margin-bottom: -64px;
	position: relative;
	z-index: 1003;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.5s;
}

.pinned {
	z-index: 1003;
}

.brand-logo img,.brand-logo object {
	height: 50px;
	padding-left: 8px;
}

@media only screen and (min-width:601px) {
	.pin-top {
		position: relative;
		top: 20px !important;
		margin-bottom: -64px;
		box-sizing: content-box;
		margin-left: 70px;
		margin-right: 70px;
		width: auto;
		transition: all 0.2s;
	}
	.brand-logo img,.brand-logo object {
		height: 57px;
		z-index: 100;
	}
	.affix,
	.pinned {
		margin-bottom: -64px;
		width: 100%;
		z-index: 1003;
		margin-left: 0px;
		margin-right: 0px;
		transition: all 0s;
	}
	.up {
		top: -50px;
		position: relative;
		margin-bottom: -50px;
	}
}

@media only screen and (min-width:941px) {
	.pin-top,
	affix-top {
		margin-left: 150px;
		margin-right: 150px;
	}
}

.slider .slides li .caption {
	top: 60%;
}

.brand-logo {
	top: 3px;
}

.nav-icon {
	margin-bottom: -6px;
	
}
.dropdown-content .nav-icon{
	left: -20px;
    position: relative;
}

.btn-large.orange:not(.btn-floating) {
	text-transform: none;
	font-size: 1.4em;
	margin: 10px;
	min-width: 200px;
	max-width: 300px;
}

.btn-large.orange:hover:not(.btn-floating) {
	text-transform: none;
	font-size: 1.7em;
	min-width: 200px;
	max-width: 300px;
}
.btn-large.orange.not-grow:hover:not(.btn-floating) {
	text-transform: none;
	font-size: 1.4em;
}
.btn-large.orange.btn-floating i:hover {
	text-transform: none;
	font-size: 2.6em;
	transition: all 0.3s;
}
.btn-large.orange.btn-floating i {
	text-transform: none;
	font-size: 1.7em;
	transition: all 0.3s;
}

.mobile-link {
	font-size: 1.3em;
}

.gradient {
	min-height: 110px;
	background: #00C9FF;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #00C9FF, #FFFFFF);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #00C9FF, #FFFFFF);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title-img {
	padding: 30px;
	width: 500px;
}
img.otras-ventajas{
	width: 70px;
	height: 70px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
}
img.ventajas-6{
	width: 150px;
	height: 150px;
}
#experiencia-img{
 max-height:250px;
 margin-top:20px;
}
.full-width {
	width: 100%;
}

main {
	flex: 1 0 auto;
}

footer.page-footer .footer-copyright {
	height: 30px;
	line-height: 30px;
}

div.container.footer-copyright {
	font-size: 0.8em;
}

h1 {
	font-size: 1.7em;
	color: #2E3C6E;
}

h2 {
	font-size: 1.5em;
	color: #2E3C6E;
}

h3 {
	font-size: 1.3em;
	color: #2E3C6E;
}

h4 {
	font-size: 1.2em;
	color: #2E3C6E;
}

h5 {
	font-size: 1.1em;
	color: #2E3C6E;
}

.impacto {
	font-size: 25px;
	position: relative;
	/* Impact-based sans serif stack */
	font-family: "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

h1.impacto {
	text-shadow: 0 0px 6px #000;
}

.imp-1 {
	font-size: 25px;
	margin-bottom: -30px;
	left: -100px;
	text-shadow: 0 0px 6px #000;
}

.imp-3 {
	font-size:  25px;
	margin-top: -30px;
	left: 115px;
	text-shadow: 0 0px 4px #000;
}

.imp-2 {
	font-size:  45px;
	text-shadow: 0 0px 6px #000;
}
span.imp-2{
	text-shadow: 0 0px 6px #FFF;
}

@media only screen and (min-width:992px) {
	#cap1 {
		top: 200px;
		left: -50px;
	}
}

@media only screen and (min-width:600px) {
	#cap1 {
		top: 100px;
	}
}
#mobile-ad img,#mobile-ad{
	margin-bottom: 00px;
	overflow: hidden;
}
#cap4 {
	margin-top: -300px;
	margin-bottom: 100px;
	overflow: hidden;
}

#cap4 h1.impacto {
	font-size: 2.3em;
	text-shadow: 0 1px 2px #000;
}

#cap4 h2.impacto {
	font-size: 1.2em;
	text-shadow: 0 1px 2px #000;
}

#cap4 .imp-1 {
	margin-bottom: -25px;
	left: -45px;
	text-shadow: 0 1px 3px #000;
}

#cap4 .imp-3 {
	margin-top: -25px;
	left: 55px;
	text-shadow: 0 1px 3px #000;
}

@media only screen and (max-width:350px) {
	#cap4 {
		margin-top: -27	0px;
		margin-bottom: 0px;
	}
	#cap4 h1.impacto {
		font-size: 1.72.3em;
		text-shadow: 0 1px 2px #000;
	}
	#cap4 h2.impacto {
		font-size: 1.1em;
		text-shadow: 0 1px 2px #000;
	}
	#cap4 .imp-1 {
		margin-bottom: -25px;
		left: 0px;
		text-shadow: 0 1px 2px #000;
	}
	#cap4 .imp-3 {
		margin-top: -25px;
		left: 0px;
		text-shadow: 0 1px 2px #000;
	}
}

#cap2 span {
	font-size: 1.8em;
}

#cap2 .imp-3 {
	left: 185px;
}
#sidenav-overlay{
	z-index: 0;
}

