/*SET FONT FAMILY*/
html {
	font-family: "Eras ITC",'Trebuchet MS',sans-serif;
	font-weight: 500;
}
p{
	font-family: sans-serif;
	line-height: 1.7rem;
	font-size: 18px;
	font-weight: 400;
}
.btn{
	font-size: 14.5px;
}
/*sticky footer*/
main {
	flex: 1 0 auto;
}
/*title styling*/
h1,h2,h3,h4,h5,h5,.dropdown-content li > a,.button-collapse{
	color: #2E3C6E;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.9em;
}
h3 {
	font-size: 1.8em;
}
h4 {
	font-size: 1.7em;
}
h5 {
	font-size: 1.6em;
}
/*SET COLORS*/
.indigo {
	background-color:#2E3C6E !important;
}
.orange-text {
    color: #F16136 !important;
}
.orange-text.text-lighten-2 {
    color: #F79741 !important;
}
.orange {
    background-color: #F16136 !important;
}
.indigo-text {
    color: #2E3C6E !important;
}
/*Cover*/
.cover{
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fixed{
	background-attachment: fixed;
}
/*Caption*/
.caption{
	width:100%;
	position:relative;
	top: -64px;
	margin-bottom: -64px;
	padding-top: 250px;
	padding-bottom: 150px;
}
/*Bold and shadow text helper*/
.bold {
    font-weight: bold;
		font-weight: 500 !important;
}
.shadow-text{
	text-shadow: 0 0px 6px #000;
}
@media (max-width: 600px){
	.center-m-l{
		text-align: center;
	}
}
@media (min-width: 610px){
	.center-m-l{
		margin-left: -13%;
	}
}
/*Mobile link to have  large links*/
.mobile-link {
	font-size: 1.3em;
}
/*A simple gradient*/
.gradient {
	min-height: 110px;
	background: #00C9FF;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #00C9FF, #FFFFFF);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #00C9FF, #FFFFFF);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*SET a wider container*/
.container.c85 {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container.c85 {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container.c85 {
    width: 85%;
  }
}
/*Nav improvements*/
.button-collapse {
	margin-left: 10px;
}
nav .button-collapse img{
	width: 24px;
	padding: 16px;
	box-sizing: content-box;
}
@media only screen and (min-width:601px) {
	nav .button-collapse img{
	width: 24px;
	padding: 16px;
	padding-top: 22px;
	box-sizing: content-box;
	}
}
nav ul a{
	color: #444;
	font-size: 1.18em;
}
nav ul a:hover {
    background-color: #ddd;
}
nav{
	    transition: all 0.5s;
}
.nav.fix {
	/*margin-bottom: -64px;*/
	position: fixed;
	z-index: 1003;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.5s;
}
.pinned {
	z-index: 1003;
}
.brand-logo img,.brand-logo object {
	height: 50px;
	padding-left: 8px;
}
@media only screen and (min-width:601px) {
	.pin-top {
		position: fixed;
		top: 20px !important;
		/*margin-bottom: -64px;*/
		box-sizing: content-box;
		margin-left: 15%;
		margin-right: 15%;
		width: 70%;
		transition: all 0.4s;
	}
	.brand-logo img,.brand-logo object {
		height: 57px;
		z-index: 100;
	}
	.affix,
	.pinned {
		/*margin-bottom: -64px;*/
		width: 100%;
		z-index: 1003;
		margin-left: 0px;
		margin-right: 0px;
		transition: all 0.4s;
	}
	.up {
		top: -50px;
		position: relative;
		margin-bottom: -50px;
	}
}
@media only screen and (min-width:941px) {
	.pin-top,
	affix-top {
		margin-left: 15%;
		margin-right: 15%;
	}
}
.nav-icon {
	margin-bottom: -6px;
}
.dropdown-content .nav-icon{
	left: -20px;
    position: relative;
}
.brand-logo {
	top: 3px;
}
/*phone-icon style*/
.phone-icon{
	float: left;
    position: relative;
    z-index: 1;
}
.phone-icon img{
	padding: 22px 16px 16px 0px;

}
.phone-text{
	font-size: 1.18em;
}
/*footer style*/
footer.page-footer {
	margin: 0;
}
footer.page-footer .footer-copyright {
	height: 30px;
	line-height: 30px;
}
div.container.footer-copyright {
	font-size: 0.8em;
}
nav.phone{
	width: 100%;
	position:fixed;
	bottom: 0;
}
/*no pad style*/
.no-pad {
	padding: 0px;
	font-size: 0px;
}
/*Black 50% helper*/
.black50 {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	padding: 20px;
}
/*no mar style*/
.no-mar {
	margin: 0px;
}
/*platform and contact button style*/
#plat-btn {
	color: #F16136;
	-webkit-transition: font-size .5s, background-color .5s, color 2s;
	transition: font-size .5s, background-color .5s, color 2s;
}
#plat-btn:hover {
	background-color: #F16136;
	color: black;
	font-size: 1.3em;
}
#contact-btn {
	color: #2B5493;
	-webkit-transition: font-size .5s, background-color .5s, color 2s;
	transition: font-size .5s, background-color .5s, color 2 s;
}
#contact-btn:hover {
	background-color: #2196f3;
	color: black;
	font-size: 1.3em;
}

/*weid orange button style*/
.btn-large.orange:not(.btn-floating) {
	text-transform: none;
	font-size: 1.4em;
	margin: 10px;
	min-width: 200px;
	max-width: 300px;
}
.btn-large.orange:hover:not(.btn-floating) {
	text-transform: none;
	font-size: 1.7em;
	min-width: 200px;
	max-width: 300px;
}
.btn-large.orange.not-grow:hover:not(.btn-floating) {
	text-transform: none;
	font-size: 1.4em;
}
.btn-large.orange.btn-floating i:hover {
	text-transform: none;
	font-size: 2.6em;
	transition: all 0.3s;
}
.btn-large.orange.btn-floating i {
	text-transform: none;
	font-size: 1.7em;
	transition: all 0.3s;
}

img.otras-ventajas{
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	border: 2px solid #f16136;
}
img.ventajas-6{
	width: 100px;
	height: 100px;
	border: 2px solid #f16136;
}
#experiencia-img{
 max-height:150px;
 margin-top:20px;
}

.impacto {
	font-size: 25px;
	position: absolute;
   width: 100%;
	font-family: "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}
.imp-2 {
	font-size:  45px;
}
span.imp-2{
	text-shadow: 0 0px 6px #FFF;
}
/*responsive styling home page*/
#mobile-ad img,#mobile-ad{
       margin-bottom: 00px;
       overflow: hidden;
}
#cap4 h1.impacto {
	font-size: 1.7em;
	text-shadow: 0 1px 2px #000;
}
#cap4 h2.impacto {
	font-size: 1.2em;
	text-shadow: 0 1px 2px #000;
}
#cap4 .imp-1 {
	text-shadow: 0 1px 3px #000;
}
#cap4 .imp-3 {
	text-shadow: 0 1px 3px #000;
}
#cap4 .imp-2 {
	font-size: 1.2em;
}
@media only screen and (max-width:350px) {
	#cap4 {
		margin-top: -27	0px;
		margin-bottom: 0px;
	}
	#cap4 h1.impacto {
		font-size: 1.72.3em;
		text-shadow: 0 1px 2px #000;
	}
	#cap4 h2.impacto {
		font-size: 1.1em;
		text-shadow: 0 1px 2px #000;
	}
	#cap4 .imp-1 {
		margin-bottom: -25px;
		left: 0px;
		text-shadow: 0 1px 2px #000;
	}
	#cap4 .imp-3 {
		top:370px;
		margin-top: -25px;
		left: 0px;
		text-shadow: 0 1px 2px #000;
	}
	#cap4 .imp-2 {
		font-size: 1em;
	}
}
/*#sidenav-overlay{
	z-index: 0;
}*/
/*Input style*/
.input-field label {
     color: #666;
}
.input-field input[type=text]:focus + label {
   color: #2E3C6E;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2E3C6E;
    box-shadow: 0 1px 0 0 #2E3C6E;
}
.input-field input[type=text] {
    border-bottom: 1px solid #666;
}
/*White input style*/
.input-field.white-input label {
     color: white;
}
.input-field.white-input input[type=text]:focus + label {
   color: #fff;
}
.input-field.white-input input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
.input-field.white-input input[type=text] {
    border-bottom: 1px solid white;
}
/*CLOCK */
.clock {
   width: 100px;
   height: 100px;
   border:3px solid tomato;
	 background: #2E3C6E;
   margin: 0 auto;
   border-radius: 50%;
   position: relative;
	 margin-top: -100px;
	top: 75px;
}

.short-hand, .long-hand {
   width: 2px;
   background: #fff;
   position: absolute;
   top: 47px;
   left: 47px;
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
   -o-transform: rotate(-180deg);
   transform: rotate(-180deg);
   -webkit-transform-origin: 0 1px;
   -moz-transform-origin: 0 1px;
   -o-transform-origin: 0 1px;
   transform-origin: 0 1px;
}

.nut {
   width: 14px;
   height: 14px;
   border-radius: 50%;
   position: absolute;
   top: 41px;
   left: 41px;
   background: #fff
}

.short-hand {
   height: 30px;
   -webkit-animation: rotation 60s infinite linear;
   -moz-animation: rotation 60s infinite linear;
   -o-animation: rotation 60s infinite linear;
   animation: rotation 60s infinite linear
}
.long-hand {
   height: 40px;
   -webkit-animation: rotation 8s infinite linear;
   -moz-animation: rotation 8s infinite linear;
   -o-animation: rotation 8s infinite linear;
   animation: rotation 8s infinite linear
}

@-webkit-keyframes rotation {
   0% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
   }
}

@-moz-keyframes rotation {
   0% {
      -moz-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
   }
}

@-o-keyframes rotation {
   0% {
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
   }
}

@keyframes rotation {
   0% {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
   }
}
