<div class="section up container c85" style="margin-bottom: -40px;">
			<div class="row no-mar">
				<a href="/productos/carga.html">
				<div class="col s12 m6 l4 center">
					<div href="hey" class="card">
						<div class="card-image">
							<img src="/images/tracker-carga.jpg" alt="soluciones satelitales para autos particulares">
							<span class="card-title bold shadow-text">Tracker Carga</span>
						</div>
						<div class="card-content">
							<p class="black-text">Controle rápida y efectivamente la logística operativa de su compañía.</p>
						</div>
						<div class="card-action">
							<p class="orange-text no-mar">Ver más</p>
						</div>
					</div>
				</div>
				</a>

				<div class="col s12 m6 l4 center">
					<a href="/productos/maquinaria.html">
					<div class="card">
						<div class="card-image">
							<img src="/images/tracker-maquinaria.jpg" alt="soluciones satelitales para personas">
							<span class="card-title bold shadow-text">Tracker Maquinaria</span>
						</div>
						<div class="card-content">
							<p class="black-text">Controle su maquinaria con la solución más económica del mercado.</p>
						</div>
						<div class="card-action orange-text">
							<p class="orange-text no-mar">Ver más</p>
						</div>
					</div>
				</a>
				</div>

				<div class="col s12 m6 l4 center offset-m3">
						<a href="/productos/auto.html">
					<div class="card ">
						<div class="card-image">
							<img src="/images/tracker-auto.jpg" alt="soluciones satelitales para automóviles de carga">
							<span class="card-title bold shadow-text">Tracker Auto</span>
						</div>
						<div class="card-content">
							<p class="black-text">La tranquilidad de rastrear su vehículo a un click de distancia.</p>
						</div>
						<div class="card-action">
							<p class="orange-text no-mar">Ver más</p>
						</div>
					</div>  
					</a>
				</div>
			</div>
			<div id="ver-mas-row" class="row no-mar" style="display: none;">
				<div class="col s12 m6 l4 center offset-l2">
						<a href="/productos/personal.html">
					<div class="card">
						<div class="card-image">
							<img src="/images/tracker%20personal.jpg" alt="soluciones satelitales para personas">
							<span class="card-title bold shadow-text">Tracker Personal</span>
						</div>
						<div class="card-content">
							<p class="black-text">Tener la tranquilidad de saber donde están tus seres queridos las 24 horas</p>
						</div>
						<div class="card-action orange-text">
							<p class="orange-text no-mar">Ver más</p>
						</div>
					</div>
					</a>
				</div>

				<div class="col s12 m6 l4 center">
						<a href="/productos/moto.html">
					<div class="card">
						<div class="card-image">
							<img src="/images/tracker-moto.jpg" alt="soluciones satelitales para personas">
							<span class="card-title bold shadow-text">Tracker Moto</span>
						</div>
						<div class="card-content">
							<p class="black-text">Proteja su motocicleta y sienta la tranquilidad en el camino</p>
						</div>
						<div class="card-action orange-text">
							<p class="orange-text no-mar">Ver más</p>
						</div>
					</div>
					</a>
				</div>

			</div>
			<div class="center-align">
				<a id="mas-planes-btn"class="orange btn-large ">Ver mas planes</a>
			</div>
		</div>
