{{!--
img: /images/finish.jpg
titulo: Más de 500 clientes ya confían en nosotros
subtitulo: Es hora de tomar el control y seguridad de tus activos
--}}
<div class="center cover fixed" style="background-image: url({{info.img}})">
	<div class="container " >
		<br>
		<br>
		<h1 class="white-text center imp-2 shadow-text">{{info.titulo}}</h1>
		<h3 class="white-text center shadow-text">{{info.subtitulo}}</h3>
		<br><br>
	</div>
</div>
