<section>
  <h2 class="center">Integraciones:</h2>
  <div class="container" style="    display: flex;
    justify-content: space-evenly; align-items: center; flex-wrap: wrap">
    <img class="integracion-img" src="/images/integraciones/frontera.png" alt="Integración con Frontera">
    <img class="integracion-img" src="/images/integraciones/controlt.png" alt="Integración con ControlT">
    <img class="integracion-img" src="/images/integraciones/sos-contingencias.png" alt="Integración con SOS Contingencias">
  </div>
  <h2 class="center">GPS soportados (+1200 referencias)</h2>
  <div class="container" style="    display: flex;
    justify-content: space-between; align-items: center; margin-bottom: 40px; flex-wrap: wrap">
    <img class="gps-img" src="/images/gps-logos/meitrack.png" alt="Integración con Frontera">
    <img class="gps-img" src="/images/gps-logos/concox.png" alt="Integración con ControlT">
    <img class="gps-img" src="/images/gps-logos/calamp.png" alt="Integración con SOS Contingencias">
    <img class="gps-img" src="/images/gps-logos/queclink.png" alt="Integración con SOS Contingencias">
    <img class="gps-img" src="/images/gps-logos/skypatrol.png" alt="Integración con SOS Contingencias">
    <img class="gps-img" src="/images/gps-logos/ruptela.png" alt="Integración con SOS Contingencias">
    <img class="gps-img" src="/images/gps-logos/suntech.png" alt="Integración con SOS Contingencias">
    <img class="gps-img" src="/images/gps-logos/teltonika.png" alt="Integración con SOS Contingencias">
  </div>
</section>