<div class="section  indigo">
	<div class="container">
		<div class="row no-mar">
			<div class="col s12 m8 l9 center no-mar">
				<h5 class="white-text">{{info.texto}}</h5>
			</div>
			<div class="col s12 m4 l3 center">
				<div class="clock hide-on-small-only">
					<span class="short-hand"></span>
					<span class="long-hand"></span>
					<span class="nut"></span>
				</div>
			</div>
		</div>
	</div>
</div>
