<div class="section  indigo">
	<div class="container">
		<div class="row no-mar">
			<div class="col s12 m7 l6 center no-mar">
				<h5 class="white-text">{{info.texto}}</h5>
			</div>
			<div class="col s12 m5 l6 center">
				<a href="{{info.accion}}" class="{{info.class}}  orange btn">{{info.boton}}</a>
			</div>
		</div>
	</div>
</div>
