{{!--
  info:

--}}
<div id="modal-inscripcion" class="modal modal-fixed-footer">
  <form action="https://docs.google.com/forms/d/e/1FAIpQLSdyIlClwlCe8El-xKYNbKa8hnBhWtUFX2a35PCvAfE-wr3Psg/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true" autocomplete="on">
    <div class="modal-content">
      <h4>Contactanos</h4>
      <p>Puedes contactarnos al celular <span class="orange-text">321 263 9189</span> o llena el siguiente formulario para ponernos en contacto contigo:</p>
      <div class="row">
        <div class="input-field col s12">
          <input  id="first_name" type="text" class="validate" name="entry.1879649681">
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s12">
          <input  id="first_name" type="text" class="validate" type="number"  name="entry.2056100806">
          <label for="first_name">Teléfono (opcional)</label>
        </div>
        <div class="input-field col s12">
          <input  id="first_name" type="email" class="validate" name="emailAddress" utocomplete="email" required>
          <label for="first_name">E-mail</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a  href="#!" class="modal-action modal-close waves-effect waves-green btn orange">Enviar</a>
      <a  href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
    </form>
  </div>
