<div class="section   lighten-5">

	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12 center">
				<h1 class="indigo-text">Acerca de nosotros</h1>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l3 center">
				<img id="experiencia-img" src="/images/12-anios-de-experiencia.jpg" alt="Años de experiencia" class="responsive-img">
			</div><div class="col s12 m12 l9">
			<p><span class="indigo-text">ANGULOS Y CIA SAS</span> Es una empresa con <span class="indigo-text">12</span> años de experiencia en el sector industrial donde se han desarrollado proyectos de control eléctrico y automatización. En el 2008 inicia con un nuevo proyecto para implementar y comercializar sistemas de rastreo satelital con el fin de brindar a nuestros clientes una alternativa que pudiesen administrar sin necesidad de pagar mensualidades por concepto de monitoreo; Es así como hemos venido trabajando bajo la marca GPS TRACKER Localizador Satelital, como herramienta de gestión logística de vehículos, personas, mercancías y/o activos en general; a través de la cual nuestros usuarios administran y controlan sus activos pudiendo obtener un aumento en la productividad y efectividad de los procesos organizacionales.</p>
		</div>
	</div>
</div>
</div>