<div class="section  indigo  lighten-5">
	<div class="row no-mar">
		<div class="col s12">
			{{!titulo}}
			<h2 class="center">{{title}}</h2>
			{{!seccion para pantallas muy grandes y muy pequeñas}}
			<div class="container">
				<div class="row no-mar">
				{{#each info}}
				{{#even @index}}
				<div class="row no-mar">
				{{/even}}
					<div class="col s12 m1 l2 center ">
						<img class="responsive-img otras-ventajas"  src="{{this.img}}" alt="{{this.titulo}}">
					</div>
					<div class="col s12 m3 l2">
						<p class="center-m-l">{{this.titulo}}</p>
					</div>
					{{#even @index}}
					</div>
					{{/even}}
				{{/each}}

				</div>
			</div>
		</div>

	</div>
</div>
